
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <h2 class="sidebar-heading">Cambio Time Tracker </h2>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light"routerLinkActive="active-item">Dashboard</a>
        <a [routerLink]="['/tasks']" href="#" class="list-group-item list-group-item-action bg-light" routerLinkActive="active-item">Overview</a>
        <a [routerLink]="['/projects']" href="#" class="list-group-item list-group-item-action bg-light" routerLinkActive="active-item">Projects</a>
        <a [routerLink]="['/tags']" href="#" class="list-group-item list-group-item-action bg-light"routerLinkActive="active-item">Tags</a>
        <a [routerLink]="['/profile']" href="#" class="list-group-item list-group-item-action bg-light" routerLinkActive="active-item">Profile</a>
        <a [routerLink]="['/settings']" href="#" class="list-group-item list-group-item-action bg-light"routerLinkActive="active-item">Settings</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->