.example-full-width {
    width: 100%;
  }

.mat-select-arrow {
  visibility: hidden;
}
.mat-input-underline {
  visibility: hidden;
}

.vertical-center {
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.selected-item-input{
  border: 0px;
  padding: 0px;
  margin: 0px;
  max-height: 20px;
}