<div class="container-fluid my-container">
  <mat-card class="custom">
    <mat-card-content>
      <form>
        <div class="row vertical-center">
          <div class="col col-8">
              <div class="row vertical-center">
                    <!-- description -->
                    <div class="col col-6">
                      <input 
                        class="task-input-item" 
                        [ngStyle]=" hover ? {'border-width':'1px' } : {'border-width':'0px'}" 
                        (mouseover)="hover=true"
                        (mouseleave)="hover=false" 
                        [formControl]="descriptionControl"
                        placeholder="What are you working on ?" #taskField />
                    </div>
                    <!-- project-->
                    <div class="col filter-list-item">
                      <form>
                        <app-auto-complete-selector 
                        [placeHolderValue]="'project'" #projectField>
                        </app-auto-complete-selector>
                      </form>
                    </div>
                    <!-- tag -->
                    <div class="col filter-list-item">
                      <app-auto-complete-selector [placeHolderValue]="'tag'" #tagField>
                      </app-auto-complete-selector>
                    </div>
                  </div>
          </div>
          <!-- timer -->
          <div class="col col-2">
            <app-timer #timerField></app-timer>
          </div>

          <!-- start / stop button-->
          <div class="col col-2">
            <button type="button" class="btn btn-primary btn-block" (click)="onStartClick()" mat-raised-button
              [ngStyle]="isStarted ? {'background-color': 'red'} : {'background-color': 'blue'}" style="color:white">
              {{isStarted? 'End' : 'Start'}}
            </button>
          </div>
          <!-- change time picker to timer button-->
          <!-- <div class="col col-1">
           <button class="task-button" (click)=onStart() mat-fab color="primary">
             <mat-icon aria-label="play / pause button">play_arrow</mat-icon>
           </button>
           </div> -->
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>