<div fxLayout='column' class="zero">
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
      <div  fxFlex="75" class="item">
          <mat-form-field class="task-form-field">
              <input 
                matInput placeholder="Machonomy Code / Issue Id "
                ngModel
                name="code"
               >
              <mat-icon matSuffix>code</mat-icon>
            </mat-form-field>
            
            <mat-form-field class="task-form-field">
                <input 
                  matInput placeholder="Description"
                  ngModel
                  name="description"
                >
            </mat-form-field>
        </div>
        <div fxFlex="25" class="item">
          <button mat-raised-button color="primary" type="submit">Add</button>
        </div>
  </form>
</div>
