<div class="task-action-button-row" layout="row" >
  <!-- <button mat-fab disabled>Disabled</button> -->
  <!-- <a mat-fab routerLink=".">Link</a> -->
  <button class="task-button" (click)=onStart() mat-fab color="primary">
    <mat-icon aria-label="play / pause button">play_arrow</mat-icon>
    <!-- <mat-icon aria-label="play / pause button">pause</mat-icon> -->
  </button>
  <button  class="task-button" mat-fab mat-fab color="accent">
      <mat-icon aria-label="stop button">stop</mat-icon>
  </button>
  <button  class="task-button" (click)=onDelete() mat-fab mat-fab color="warn">
      <mat-icon aria-label="edit button">edit</mat-icon>
  </button>
</div>
