<mat-accordion fxLayout='column' class= "task-list zero">
    <mat-expansion-panel  fxFlex="33" class= "task-expansion-panel one" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Task
        </mat-panel-title>
        <mat-panel-description>
          2019/04/07
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-task-item></app-task-item>
      <app-task-item></app-task-item>
      <app-task-item></app-task-item>
    </mat-expansion-panel>
  </mat-accordion>