<div class="task-expansion-parent">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header  style="background-color:lightgray">
        <div class="panel-header-content-parent">
          <div class="panle-task-name">
            <mat-panel-title>
                {{date.year}} /   {{date.month}} /  {{date.date}}
            </mat-panel-title>
          </div>
          <div class="panle-task-name">
            <mat-panel-description>
             
            </mat-panel-description>
          </div>
          <div class="panle-task-name">
            <mat-panel-description class="panel-date">
              <div>
                <B> Total </B>{{totalTime.hours}}h : {{totalTime.minutes}}min
              </div>
            </mat-panel-description>
          </div>
        </div>
      </mat-expansion-panel-header>
      <app-task-item  *ngFor="let item of taskList" [currentTask] = "item"></app-task-item>
    </mat-expansion-panel>
  </mat-accordion>
</div>