.my-container{
    justify-content: center;
}

.vertical-center {
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
  }

  .custom.mat-card{
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
   }

   .task-input-item{
    width:100%;
    padding: 5px;
   }

   .filter-list-item{
       max-width: 150px;
    //    min-width: 50px;
       width: auto;
   }